*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(-45deg, #b938da, #f7edfa );
    color: black;
}

h1{
    font-size: 80px;
    animation-name: h1;
    animation-duration: 1s;
}

h3{
    font-size: 40px;
    animation-name: h3;
    animation-duration: 1s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes h1 {
    0%{
        opacity: 0;
        transform: translateX(40px);
    }

    100%{
        opacity: 1;
    }
}

@keyframes h3 {
    0%{
        opacity: 0;
        transform: translateX(40px);
    }

    100%{
        opacity: 1;
    }
}